{% extends 'home.html' %}

{% block content %}
<form action="../../">
    <button class="btn-back" >
        <input type="submit" value="BACK" class="btn btn-danger">
    </button>
</form>
<div class="createContainer">
    <h1 class="create-head">Blog</h1>
    <form action="." method="POST"> {% csrf_token %}
        {{ form.as_ul }}
        <input type="submit" value="Save" class="btn btn-success sub-button">
    </form>

</div>

<style>
    body{
        background-color: black;
        color: white;
    }

    .create-head{
        margin-bottom: 30px;
        text-align: center;
    }

    .createContainer{
        margin-left: 200px;
        margin-right: 400px;
        margin-top: 0px;
        border: 2px solid white;
        border-radius: 20px;
        padding-left: 200px;
        padding-right: 200px;
        padding-top: 50px;
        padding-bottom: 100px;
    }

    .createContainer:hover{
        border: 2px solid yellow;
        transition: all 1s;
    }

    .sub-button{
        margin-left: 200px;
        margin-top: 20px;
    }
    .btn-back{
        margin-top: 10px;
        padding: 10px;
        border-radius: 10px;
        padding-left: 30px;
        padding-right: 30px;
        margin-left: 80vw;
        background-color: rgb(223, 71, 89);
        color: black;
        /* position:fixed; */
    }

    .btn{
        padding: 10px;
        padding-left: 30px;
        padding-right: 30px;
        border-radius: 5px;
    }
    .btn:hover{
        background-color: red;
        border: 2px solid white;
        color: white;
    }
</style>
{% endblock %}